:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
{
margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/* WebStudio */

/* HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.navi {
    display: flex;
    align-items: center;
}

/* Logo */


.logo-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;

}

.logo-black {
    color: var(--color-navy-blue);

}

/* /Logo */

/* Menu */

.menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--color-ocean);
}

/* /Menu */

/* Contacts */
.contacts {
    font-style: normal;
    margin-left: auto;

}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-slate);
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-ocean);
}

/* /Contacts */

/* /HEADER */

/* Main */

/* Hero */
.hero {
    background: var(--color-navy-blue);
    padding: 188px 0;

}

.hero-container {
    text-align: center;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    align-items: center;

}

.hero-button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-iris);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: auto;
}



.hero-button:hover,
.hero-button:focus {
    background: var(--color-ocean);
}

/* /Hero */

/* Visually-Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* /Visually-Hidden */

/* Offer */

.offers {
    padding: 120px 0;
}

.offers-list {
    display: flex;
    gap: 24px;
}

.offers-item {
    width: calc((100% - 24px * 3) / 4);
}

.offers-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.offers-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Offer */

/* Work */

.work {
    padding-bottom: 120px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
    width: calc((100% - 24px * 2) / 3);
}

.work-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* /Work */

/* Team */
.team {
    background: var(--color-cloud);
    padding: 120px 0
}

.team-container {}

.team-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--color-white);
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-name {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.team-job-title {
    color: var(--color-slate);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-our {
    padding: 32px 0;
}

/* /Team */

/* /Main */

/* Footer */
.footer {
    background: var(--color-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-white {
    color: var(--color-cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

/* /Footer */

/* Portfolio */

.services {
    padding-top: 96px;
    padding-bottom: 120px;
}

.services-list {
    display: flex;

    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    column-gap: 24px;
    row-gap: 48px;
}


.services-item {
    width: calc((100% - 24px * 2) / 3);
}

.sort-buttons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.sort-buttons-item {
    display: block;
    color: var(--color-iris);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--color-cloud);
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    padding: 12px 24px;
}

.sort-buttons-item:hover,
.sort-buttons-item:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border: 1px solid transparent;
}

.services-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.services-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.services-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Services */
/* /Portfolio */